{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "extends": ["standard", "standard-react"],
  "rules": {
    "import/first": 0,
    "global-require": 0,
    "react/no-unused-prop-types": 0
  }
}
